---
import './navigation.css';
---

<div class="nav-links">
  <a href="/">Home</a> <!--  class=" bg-[red]" -->
  <a class="btn btn-ghost text-xl" href="/about/" data-theme="dark">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="/signin?redirect=/post-editor/new">Create post</a>
</div>

<!-- 
  ---
import './navigation.css';
---

<nav class="navbar">
  <div class="brand">
    <a href="/">My Brand</a>
  </div>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
    <a href="/signin?redirect=/post-editor/new">Create post</a>
  </div>
  <div class="hamburger" onclick="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>

<script>
  function toggleMenu() {
    const navbar = document.querySelector('.navbar');
    navbar?.classList.toggle('expanded');
  }
</script>
 -->