---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { serverAllPosts } from "@/firebase/database/serverAllPosts";

const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Here you can see all the posts:</h2>
  <ul>
    {
      serverAllPosts.map((post) => (
          <BlogPost url={`/posts/${post.id}`} title={post.title} postId={post.id} />
      ))
    }
  </ul>
</BaseLayout>
