---
import BaseLayout from "../layouts/BaseLayout.astro";
import { initPromise, initialized, number } from "../utils/utilsGlobalFetchTest";

// export const prerender = false;


const pageTitle = "Show number SSG";

if (!initialized) {
  await initPromise; // Await the promise to ensure initialization is complete
}
const nummm = number;
---
<BaseLayout pageTitle={pageTitle}>
    <h2>
        This is the number saved on server the first time the fetch ocurred: {nummm};
    </h2>
</BaseLayout>
