---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { serverApp } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

export const prerender = false;

/* Check if the user is authenticated */
const auth = getAuth(serverApp);
if (Astro.cookies.has("__session")) {
  const sessionCookie = Astro.cookies.get("__session")?.value;
  const decodedCookie = await auth.verifySessionCookie(sessionCookie ?? "");

  if (decodedCookie) {
    return Astro.redirect("/dashboard");
  }
}
---

<BaseLayout title="Sign in">
  <h1>Sign in</h1>
  <p>New here? <a href="/register">Create an account</a></p>
  <form method="post" action="/api/auth/signin">
    <label for="email" for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Login</button>
  </form>
</BaseLayout>
<script>
  import {
    getAuth,
    inMemoryPersistence,
    signInWithEmailAndPassword,
  } from "firebase/auth";
    import { clientApp } from "../firebase/client";
  // import { app } from "../firebase/client";

  console.log('appappappapp',clientApp)
  const auth = getAuth(clientApp);
  // This will prevent the browser from storing session data
  auth.setPersistence(inMemoryPersistence);

  const form = document.querySelector("form") as HTMLFormElement;
  form.addEventListener("submit", async (e) => {
    console.log('submitEvent',e);
    e.preventDefault();
    const formData = new FormData(form);
    const email = formData.get("email")?.toString();
    const password = formData.get("password")?.toString();

    if (!email || !password) {
      return;
    }
    const userCredential = await signInWithEmailAndPassword(
      auth,
      email,
      password
    );
    const idToken = await userCredential.user.getIdToken();
    const response = await fetch("/api/auth/signin", {
      method: "GET",
      headers: {
        Authorization: `Bearer ${idToken}`,
      },
    });

    if (response.redirected) {
      window.location.assign(response.url);
    }
  });
</script>
