---
import BlogPostCrud from "./BlogPostCrud";

const { url, title, postId } = Astro.props; // Destructure props to get the post URL, title, and postId
---

<li style="display: flex; gap: 8px">
  <a href={url}>{title}</a>
  <BlogPostCrud client:only="react" url={url} postId={postId} />
</li>
